  .beehive {
    font-style: italic;
    color: #000000;
  }

  .beehive-pangram {
    font-weight: bold;
  }

  .hinttooltip.showtooltip {
    /* NEW */
    visibility: visible;
  }

  .hinttooltip {
    visibility: visible;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    padding: 2px;
    z-index: 1000;
    margin-bottom: 8px;
  }

  .sb-wordlist-box {
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    letter-spacing: 0.005em;
}

  .bhcell {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    text-align: center;
  }

  .bhheadercell {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    font-weight: bold;
    text-align: center;
  }